<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-3">
                <div class="footer__brand wow fadeInLeft">
                    <img src="../images/brands/bmf_white.png" alt="Logomarca BMF na cor branca"></div>
            </div>

            <div class="col-lg-4 d-flex justify-content-center flex-column">
                <div class="footer__info text-center wow fadeInUp">
                    <p>
                        <b>BMF Ocupacional</b>
                    </p>
                    <p>Avenida Washington Luís, 1832 - Jardim América</p>
                    <p>
                        Sorocaba/SP - CEP: 18046-700</p>
                    <p>(15) 3217-7109 / (15) 3217-5482 / (15) 3346-1463</p>
                </div>
            </div>

            <div class="col-lg-4">
                <p class="footer__copy wow fadeInRight">BMF Ocupacional © 2019. Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</footer>