<div class="container">
    <aside id="newsletter" class="newsletter">
        <form id="newsletter-form" method="" action="" class="row">
            <div class="col-md-5">
                <h4 class="newsletter__title">
                    <span>
                        Cadastre-se agora e ganhe
                    </span>
                    10% estra na primeira compra
                </h4>
            </div>
            <div class="col-md-5">
                <input type="text" class="newsletter__input">
            </div>
            <div class="col-md-2">
                <button class="btn btn-secondary" type="submit">Enviar</button>
            </div>
        </form>
    </aside>
</div>
<footer class="footer wow fadeIn" data-wow-delay="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-4 pr-lg-0">
                <ul class="footer__list">
                    <li class="title">Institucional</li>
                    <li><a href="#">A Marca</a></li>
                    <li>Redes sociais</li>
                    <li>
                        <a href="#"> <i class="fab fab-facebook-f"></i></a>
                        <a href="#"><i class="fab fab-instagram"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 pl-lg-5">
                <ul class="footer__list">
                    <li class="title">Departamentos</li>
                    <li><a href="#">Biquínis</a></li>
                    <li><a href="#">Maiôs</a></li>
                    <li><a href="#">Roupas</a></li>
                    <li><a href="#">Acessórios</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 pr-lg-0">
                <ul class="footer__list">
                    <li class="title">Minha conta</li>
                    <li><a href="#">Meus dados</a></li>
                    <li><a href="#">Minhas compras</a></li>
                    <li><a href="#">Meus favoritos</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 pl-lg-0">
                <ul class="footer__list">
                    <li class="title">Central de ajuda</li>
                    <li><a href="#">Política de entrega</a></li>
                    <li><a href="#">Trocas e devoluções</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 pl-lg-0">
                <ul class="footer__list">
                    <li class="title">Atendimento</li>
                    <li><a href="#">Fale conosco</a></li>
                    <br />
                    <li>
                        SAC<br />
                        <a href="tel:+550000000">(88) 4008.0981</a>
                        Seg. à Sex. das 9 às 18h
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 pr-lg-0">
                <ul class="footer__list">
                    <li class="title"> Pagamento</li>
                    <li>
                        <img style="width: 120px" src="../images/brands/cards.png" alt="Ícones de métodos de pagamentos aceitos">
                    </li>
                </ul>
            </div>

            <div class="col-lg-1 col-md-4 pl-lg-0">
                <ul class="footer__list">
                    <li class="title">Segurança</li>
                    <li>
                        <img width="90" src="../images/brands/ssl.png" alt="Proteção SSL Secure Connection">
                    </li>
                </ul>
            </div>

        </div>

        <hr />
        
        <div class="row justify-content-center pt-2 pt-lg-4">
            <div class="col-7 col-md-5 col-lg-2 mb-3 mb-lg-0">
                <img class="w-100" src="../images/brands/capuleto2.png" alt="Logo capuleto">
            </div>
            
            <div class="col-12 col-lg-10">
                <p class="footer__copyright text-center text-lg-left">
                    Caso haja divergências de valores dos produtos no site, o preço válido é o do carrinho de compras.
                    Vendas sujeitas a confirmação de estoque, análise e validação dos dados.
                    Copyright © 2019. CAPULETO BEACH WEAR - CNPJ: 00.000.000/0000-00. Rua XXXXXXXXXXX, 000 - XXXXXXXXX/XX-
                    CEP: 00.000-00
                </p>
            </div>
        </div>
    </div>
</footer>