<nav id="main-nav" class="main-nav">
    <div class="container position-relative">

        <a role="button" href="#" class="main-nav__area-cliente wow fadeInDown">
            <span class="far fa-user mr-2" aria-hidden="true"></span>Área do cliente
        </a>

        <div class="main-nav__content">
            <a href="./index.html">
                <div class="main-nav__brand wow fadeIn">
                    <img src="../images/brands/bmf.png" alt="Logomarca BMF"></div>
            </a>

            <ul id="main-nav-menu" class="main-nav__list wow fadeIn">
                <li class="main-nav__item active">
                    <a href="../pages/index.html">Inicial</a>
                </li>
                <li class="main-nav__item">
                    <a href="../pages/sobre.html">Sobre a BMF</a>
                </li>
                <li class="main-nav__item has-dropdown">
                    <a href="../pages/servicos.html">Serviços</a>

                    <ul class="main-nav__dropdown">
                        <li>
                            <a href="./servicos.html">PCMSO</a>
                        </li>
                        <li>
                            <a href="./servicos.html">PPRA</a>
                        </li>
                        <li>
                            <a href="./servicos.html">EMO (ASO)</a>
                        </li>
                        <li>
                            <a href="./servicos.html">ATPJ)</a>
                        </li>
                        <li>
                            <a href="./servicos.html">PPP</a>
                        </li>
                        <li>
                            <a href="./servicos.html">Demais serviços</a>
                        </li>
                    </ul>

                </li>
                <li class="main-nav__item">
                    <a href="../pages/exames.html">Exames</a>
                </li>
                <li class="main-nav__item">
                    <a href="../pages/clientes.html">Clientes</a>
                </li>
                <li class="main-nav__item">
                    <a href="../pages/links-uteis.html">Links Úteis</a>
                </li>
                <li class="main-nav__item">
                    <a href="../pages/perguntas-frequentes.html">Perguntas Frequentes</a>
                </li>
                <li class="main-nav__item">
                    <a href="../pages/fale-conosco.html">Fale Conosco</a>
                </li>

                <button class="main-nav__list__close btn-transparent nav-toggler">
                    <i class="fa fa-times" alt="Fechar menu"></i>
                </button>
            </ul>

            <button class="main-nav__toggler btn-transparent nav-toggler">
                <i class="fa fa-bars" alt="Expandir menu"></i>
            </button>
        </div>
    </div>
</nav>