<nav id="main-nav" class="main-nav">
    <div class="main-nav__content">
        <div class="container">
            <div class="main-nav__top">
                <a href="./index.html">
                    <div class="main-nav__brand wow fadeIn" data-wow-delay="0.2s">
                        <img src="../images/brands/capuleto.png" alt="Logo Capuleto"></div>
                </a>
                <button class="main-nav__toggler btn-transparent nav-toggler">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>

        <div class="main-nav__bottom">

            <div class="container wow fadeInUp">
                <div class="main-nav__bottom-offset"></div>
                <ul id="main-nav-menu" class="main-nav__menu wow fadeIn">
                    <button class="main-nav__close btn-transparent nav-toggler">
                        <i class="fa fa-times" alt="Fechar menu"></i>
                    </button>
                    <li class="main-nav__item active">
                        <a href="../pages/home.html">Home</a>
                    </li>
                    <li class="main-nav__item">
                        <a>A Marca</a>

                        <div class="main-nav__item-dropdown">
                            <div class="container">
                                <div class="row ">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-3">
                                        <ul>
                                            <li>
                                                <h6 class="text-uppercase">Marcas</h6>
                                            </li>
                                            <li>
                                                <a href="#a">Item 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 3</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="d-none d-lg-block col-lg-7">
                                        <img class="w-100" src="../images/banners/feed.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="main-nav__item">
                        <a>Biquinis</a>

                        <div class="main-nav__item-dropdown">
                            <div class="container">
                                <div class="row ">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-3">
                                        <ul>
                                            <li>
                                                <h6 class="text-uppercase">Biquinis</h6>
                                            </li>
                                            <li>
                                                <a href="#a">Item 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 3</a>
                                            </li>
                                            <li>
                                                <a href="#">Item 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="d-none d-lg-block col-lg-7">
                                        <img class="w-100" src="../images/banners/feed.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="main-nav__item">
                        <a href="../pages/clientes.html">Maiôs</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="../pages/links-uteis.html">Roupas</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="../pages/perguntas-frequentes.html">Acessórios </a>
                    </li>
                    <li class="main-nav__item">
                        <a href="../pages/fale-conosco.html">Verão 2020</a>
                    </li>
                </ul>

                <div class="main-nav__utils">
                    <!-- Search desktop -->
                    <div class="main-nav__utils-search d-none d-lg-flex">
                        <span class="ico"></span>
                        Busca

                        <form action="#" method="#" class="dropdown">
                            <input class="dropdown-input" type="text" placeholder="Digite sua busca" name="search"
                                autocomplete="off">
                            <button type="submit" class="dropdown-send">
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </form>
                    </div>

                    <!-- Search mobile -->
                    <form action="#" method="#" class="main-nav__utils-search-mobile">
                        <input type="text" placeholder="Buscar..." name="search" autocomplete="off" />
                        <button type="submit" class="send">
                            <i class="ico"></i>
                        </button>
                    </form>

                    <a href="#" class="main-nav__utils-bag">
                        <span class="ico"></span>
                        <span class="number">0</span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</nav>