.home {
    background-size: cover;
    background-position: center 35%;
    height: 650px;
    background-image: url(../images/banners/home.jpg);

    @media screen and (min-width: 1700px) {
        height: 850px;
    }


    @media screen and (min-width: $bp-XL) {
        .container {
            max-width: 1170px !important;
        }
    }

    @media screen and (max-width: $bp-MD) {
        background-position: center bottom; 
    }

    &__banner-verao {
        position: absolute;
        top: 48%;
        left: 0;
        margin: 0;
        font-size: 30px;
        text-orientation: upright;
        writing-mode: vertical-lr;
        text-transform: uppercase;
        white-space: nowrap;
        font-weight: 300;
        color: #fff;
        background-color: $color-primary;
        padding: 10px 5px;
        transform: translateY(-50%);
        z-index: 2;

        @media screen and (max-width: $bp-MD) {
            font-size: 20px;
            top: 35%;
            left: 20px;
        }
    }

    &__banner-more {
        position: absolute;
        top: 48%;
        left: 0;
        font-size: 15px;
        color: black;
        width: 370px;
        font-weight: 500;
        padding: 35px 35px 35px 90px;
        background-color: rgba(255, 255, 255, 0.531);
        transform: translateY(-50%);

        @media screen and (max-width: $bp-MD) {
            top: 35%;
            padding-left: 85px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            transform: translateX(-100%);
            top: 0;
            width: 100vw;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.531);
        }

        &-link {
            position: relative;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            padding-left: 63px;
            color: black;
            @include transition();

            &:hover {
                color: black;
                @include scale(1.2);
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 0.7px;
                width: 44px;
                background-color: black;
            }
        }
    }

    &__banner-info {
        position: absolute;
        left: 0;
        bottom: -30px;
        background-color: $color-primary;
        color: #fff;
        width: 100%;
        padding: 20px 70px;

        @media screen and (max-width: $bp-LG) {
            padding: 15px 0px;
            bottom: -60px;
        }

        @media screen and (max-width: $bp-MD) {
            left: 50%;
            transform: translateX(-50%);
            width: 92%;
        }

        &-item {
            display: flex;
            align-items: center;

            @media screen and (max-width: $bp-MD) {
                flex-direction: column;
                align-items: flex-start;
            }

            .ico {
                width: 50px;
                height: 50px;
                object-fit: contain;
                margin-right: 10px;

                @media screen and (max-width: $bp-MD) {
                    width: 30px;
                    height: 30px;
                    margin-bottom: 10px;
                }

                @media screen and (max-width: $bp-LG) {
                    width: 40px;
                    height: 40px;
                    margin-bottom: 10px;
                }
            }

            .caption {
                font-size: 13px;
                font-weight: 300;

                @media screen and (max-width: $bp-MD) {
                    font-size: 12px;
                }

                .title {
                    display: block;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }
    }
}