.newsletter{
    .container{
        @media screen and (min-width: $bp-LG){
            max-width: 1350px !important;
        }
    }

    &__content{
        background-color: black;
        padding: 25px 10px;
    }

    &__title{
        color: #fff;
        font-size: 14px;
        font-weight: 300;

        span{
            display: block;
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    &__input{
        border: 1px solid white;
        text-transform: lowercase;
        background-color: transparent;
        color: #fff;
        padding: 11px 14px;
        font-weight: 500;
        letter-spacing: .8px;
        width: 100%;
        font-size: 12px;

        &::placeholder{
            color: #fff;
        }

        &:focus{
            outline: none;
        }
    }
}